@use "./../utils" as *;

.a11yHidden,
legend {
  @include a11yHidden();
}



.taing__AllForm{
  width: 70%;
  padding-left: 35%;
  position: relative;
  margin-top: rem(15px);
  @include tablet {
    margin-top: rem(90px);
    
  }
  
  @include mobile {
    margin-top: rem(120px);

  }
}

.taing__SignIn{
  color: #ffff;
  padding-left: 34.5%;
  font-size: 1.6vw;
  font-weight: 700;
  

}
.taing__StartText{
  color: #898989;
  padding-top: 4%;
  padding-bottom: 3%;
  font-size: 1.2vw;
  text-align: center;
}
.taing__Pwd,
.taing__PwdCheck {
  position: relative;
}


.taing__input{
  width: 34.5vw;
  height: 7vh;
  background-color: #212121;
  border-radius: 4px;
  border: 1px solid #212121;
  
  @include tablet{
    height: 5vh;
  }

  @include mobile{
    height: 3.5vh;
  }

}

.taing__pwdImage1{
  position: absolute;
  top: 33%;
  right: 6%;
  width: 5%;

  @include tablet {
      top:40%;
    }
  
}
.taing__pwdImage2{
  position: absolute;
  top: 47%;
  right: 6%;
  width: 5%;
  
  @include tablet {
      top: 50%;
    }
  @include mobile {
      top: 53%;
    }
}

.input__bottomText{
  color: #6B6B6B;
  padding-top: 0.7%;
  font-size: 1vw;
}
.all__Agree{
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  justify-content: flex-start;
}

.agree__Text{
  color: #6B6B6B;
  display: flex;
  font-size: rem(19px);
  padding-left: 7%;
  font-weight: 600;
  white-space: nowrap;
}


.sign__Button{
  padding: 3.5% 40%;
  border-radius: 4px;
  background-color: #404040;
  color: #898989;
  text-align: center;
  align-items: center;
}



.agree__ButtonImage{
  position: absolute;
  // left: 0;
  
  @include tablet {
      width: 5%;
    }
  
    @include mobile {
      width: 6%;
    }
}

.agree__TextSpace{
  padding-left: 6%;
  color: #6B6B6B;
  margin-top: 3;
}



.agree__ButtonImagePadding{
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  padding-left: 8%;
  
  @include tablet {
      width: 13%;
    }
  
    @include mobile {
      width: 14%;
    }
}

.pw-icon {
  position: relative;
  
}
.pw-icon img {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-35%);
}

.pwInput {
  width: 100%;
}

.form_sp {
  margin-bottom: 1.5vw;
  margin-top: rem(5px);
}

.signIn__subTxt {
  font-size: rem(20px);
  white-space: nowrap;
  
  &__top {
    font-size: rem(20px);
    font-weight: 600;
    line-height: 150%;
    white-space: nowrap;
    color: $gray0;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    
    @include mobile {
      justify-content: flex-start;
    }
  }
}

.allCheck {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: rem(5px);
}

.check__box {
  margin-top: 1.5vw;

}

.checkList {
  display: flex;
  align-items: center;
  // padding-left: 1em;
}

.marketing {
  padding-left: 2em;
}