@use "./../utils" as *;

.a11yHidden,
legend {
  @include a11yHidden();
}


.taing__AllForm{
  width: 70%;
  padding-left: 35%;
}

.taing__SignIn{
  color: #ffff;
  padding-left: 34.5%;
  font-size: 1.6vw;
  font-weight: 700;
  

}
.taing__StartText{
  color: #898989;
  padding-top: 4%;
  padding-bottom: 3%;
  font-size: 1.2vw;
  text-align: center;
}
.input__Form{
  position: relative;

}

.taing__input{
  width: 34.5vw;
  height: 7vh;
  background-color: #212121;
  border-radius: 4px;
  border: 1px solid #212121;
}

.taing__pwdImage1{
  position: absolute;
  top: 50%;
  right: 32%;
}
.taing__pwdImage2{
  position: absolute;
  top: 60%;
  right: 32%;
}

.input__bottomText{
  color: #6B6B6B;
  padding-top: 0.7%;
  font-size: 1vw;
}
.all__Agree{
  display: flex;
  flex-flow: column nowrap;
}
.agree__Text{
  color: #6B6B6B;
}

.sign__Button{
  padding: 3.5% 40%;
  border-radius: 4px;
  background-color: #404040;
  color: #898989;
  text-align: center;
  align-items: center;
}

.agree__Button{
  background-color: #fff;
  border: 1px solid #000;
  
}

.agree__Text{
  font-size: 1vw;
}

.agree__padding{
  padding-left: 8%;
 
}