@use "./../utils" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.a11yHidden {
  @include a11yHidden();
}

.only {
  padding-left: 3%;
  padding-bottom: 3%;

  &__list {
  @include flexbox;
  gap: 1%;
  margin-bottom: 2%;

  @include desktop {
    width: 105vw; 
  }

  @include tablet {
    width: 160vw;
  }

  @include mobile {
    width: 320vw;
  }
  }
}

.event {
  padding-left: 3%;
  padding-bottom: 2%;

  &__list {
  @include flexbox;
  gap: 1%;
  margin-bottom: 2%;

  @include desktop {
    width: 110vw; 
  }

  @include tablet {
    width: 170vw;
  }

  @include mobile {
    width: 270vw;
  }
  }
}

.sports {
  @include paddingY(2%);
  @include paddingX(3%);
}

.sports img {
  width: 100%;
}