<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./../style/index.css" />
  <title>프로필 편집 페이지</title>
</head>
<body>
  <header>
    <div class="headerWrapper">
      <h1>
        <a href="/">
          <img class="logo_img" src="./../assets/icons/desktop_logo.svg" alt="Taing" />
        </a>
      </h1>
    </div>
  </header>

  <!-- 프로필 편집 섹션 -->
  <section class="profile">
    <h2 class="profile__title">프로필 편집</h2>
    <span class="profile__select" aria-label="편집할 프로필을 선택해주세요">편집할 프로필을 선택해주세요.</span>
    <ul class="profile__container">
      <li class="profile__item">
        <a href="/" class="profile__itemLink">
          <div class="profile__itemImgBox">
            <img src="./../assets/profile-1.png" alt="" />
          </div>
          <span class="profile__itemName" aria-label="프로필명">슬비님</span>
        </a>
      </li>
      <li class="profile__item">
        <a href="/" class="profile__itemLink">
          <div class="profile__itemImgBox">
            <img src="./../assets/profile-2.png" alt="" />
          </div>
          <span class="profile__itemName" aria-label="프로필명">야무</span>
        </a>
      </li>
      <li class="profile__item">
        <a href="/" class="profile__itemLink">
          <div class="profile__itemImgBox">
            <img src="./../assets/profile-3.png" alt="" />
          </div>
          <span class="profile__itemName" aria-label="프로필명">범쌤</span>
        </a>
      </li>
      <li class="profile__item">
        <a href="/" class="profile__itemLink">
          <div class="profile__itemImgBox">
            <img src="./../assets/profile-4.png" alt="" />
          </div>
          <span class="profile__itemName" aria-label="프로필명">이듬</span>
        </a>
      </li>
    </ul>
  
    <a href="profile.html" class="profile__button">완료</a>
  </section>


  <!-- 푸터 -->
  <footer class="appFooter">
    <div class="appFooter__wrapper">
      <ul class="appFooter__link">
        <li class="">
          <span class="appFooter__notice__span">공지사항</span>
          <a href="/">[안내] 합병보고 주주총회에 갈음하는 공고</a>
        </li>
        <li class="mobile--hidden">
          <a href="" class="">
            브랜드 바로가기 + </a>
          <span class="divider" aria-hidden="true">ㅣ</span>
          <a href="">그룹 계열사 바로가기 + </a>
        </li>
      </ul>

      <div class="fakeLine"></div>

      <div class="appFooter__innerWrapper">
        <ul class="appFooter__wrapper__subLinks">
          <li><a href="/">고객센터</a></li>
          <li><a href="/">이용약관</a></li>
          <li><a href="/">개인정보처리방침</a></li>
          <li><a href="/">청소년 보호정책</a></li>
          <li><a href="/">법적고지</a></li>
          <li><a href="/">이벤트</a></li>
          <li><a href="/">인재채용</a></li>
        </ul>
      
        <section class="appFooter__innerWrapper__info mobile--hidden">

          <span>대표이사 : YANG JIEUL</span>
          <span class="divider" aria-hidden="true">ㅣ</span><a class="underline" href="">사업자정보확인</a><span class="divider" aria-hidden="true">ㅣ</span>사업자등록번호 : 188-88-01893<span class="divider" aria-hidden="true">ㅣ</span>통신판매신고번호 : 2020-서울마포-3641호<br>
          사업장 : 서울특별시 마포구 상암산로 34, DMC디지털큐브 15층(상암동)<span class="divider" aria-hidden="true">ㅣ</span>호스팅사업자 : 씨제이올리브네트웍스(주)<br>
          <a class="underline" href="">고객문의 바로가기</a><span class="divider" aria-hidden="true">ㅣ</span>
          <span class="underline" >대표메일 : tving@cj.net</span><span class="divider" aria-hidden="true">ㅣ</span>
          <span class="underline" >고객센터 : 1670-1525 (평일/주말 09시~18시, 공휴일 휴무)</span><br>
          ENM 시청자 상담실 (편성 문의 및 시청자 의견) : 080-080-0780
          <span class="divider" aria-hidden="true">ㅣ</span>Mnet 고객센터(반송편성문의) : 1855-1631
        </section>

        <ul class="appFooter__snsLinks">
          <li><a class="sns_bg" href="/"><img class="sns_img" src="./../assets/icons/youtube.png" alt="youtube" /></a></li>
          <li><a class="sns_bg" href="/"><img class="sns_img" src="./../assets/icons/instagram.png" alt="instagram" /></a></li>
          <li><a class="sns_bg" href="/"><img class="sns_img" src="./../assets/icons/twitter.png" alt="twitter" /></a></li>
          <li><a class="sns_bg" href="/"><img class="sns_img" src="./../assets/icons/facebook.png" alt="facebook" /></a></li>
        </ul>

        <small class="copyright">Copyright &copy; 주식회사 티빙 All right reserved.</small>

      </div>
    </div>
  </footer>
</body>
</html>